body {
    background-color: rgb(255, 255, 255);
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
  }

  .heading {
    padding: 10px 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border: 2px rgb(70, 16, 2) solid !important;
    border-radius: 2px;
    color: rgb(70, 16, 2);
    background-color: rgb(223, 184, 203) !important;
  }
  
  .image {
    display: inline-block;
    width: 400px;
    height: 200px;
    margin-top: 2px;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
  
    .image {
      width: 100%;
    }
  }